# build output
dist/
.output/
doc/

# lighthouse reports
lh-*.json
lh-*.html

# astro
.astro/

# dependencies
node_modules/

# env
.env
.env.production
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# os / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# media
assets/showtime/*
